body {
    background: #ffffff;
    font-family: Roboto;
}

header {
    height: 72px;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

hr {
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.4;
}

.container_header {
    background: lightgray;
    width: 976px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background: #FFFFFF;
}

.row_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-Items: center;
    flex-wrap: nowrap;
    height: 72px;
    margin-bottom: auto;
    margin-top: auto;
}

.logo,
.addressdelivery,
.btns {
    box-sizing: border-box;
    flex-wrap: nowrap;
    margin-bottom: auto;
    margin-top: auto
}

/* .logo {
    
} */

.addressdelivery {
    display: flex;
    justify-content: space-between;
}

.asap,
.adress,
.to {
    height: 40px;
    display: flex;
    align-items: center;
}

.asap,
.adress {
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
}

.asap {
    flex-basis: 65px;
    justify-content: center;
}

.adress {
    flex-basis: 292px;
    justify-content: flex-start;
}

.locationimg {
    margin-left: 8px;
    margin-right: 8px;
}

.btns {
    display: flex;
    justify-content: flex-end;
}

.register,
.signin {
    width: 80px;
    height: 40px;
    border-radius: 2px;
    line-height: 24px;
    font-size: 13px;
    font-weight: 500;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register {
    background: #262626;
    color: #FFFFFF;
}

.signin {
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
}

.bascet {
    width: 40px;
    margin-left: 8px;
    background-image: url(../images/basket.svg);
    background-position-x: center;
    background-position-y: center;
    background-size: initial;
    background-repeat: no-repeat;
}

.search {
    margin-top: 32px;
}

.restsearch {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    height: 48px;
    line-height: 24px;
    font-family: Roboto;
    font-size: 16px;
    opacity: 0.3;
    z-index: 2;
    border: 0;
    border-bottom: #757575 1px solid;
}

.searchbeauty_img,
.searchbeauty {
    display: inline;
    position: relative;
    top: -40px;
    Line-Height: 24px;
    text-Align: Left;
    color: #626262;
    mix-blend-mode: normal;
    opacity: 0.5;
    z-index: 1;
}

.searchbeauty_img {
    margin-left: 0px;
}

.searchbeauty {
    margin-left: 8px;
}

div:hover .searchbeauty {
    visibility: hidden;
}

div:hover .searchbeauty_img {
    visibility: hidden;
}

div:hover .restsearch {
    opacity: 1;
}

.citytitle, .resttitle {
    font-weight: normal;
}

.citytitle {
    font-size: 22px;
    line-height: 34px;
}

.container {
    width: 976px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}

.col-1 {
    flex-basis: 8.3333%;
}

.col-2 {
    flex-basis: 16.6666%;
}

.col-3 {
    flex-basis: 25%;
}

.col-4 {
    flex-basis: 33.3333%;
}

.col-5 {
    flex-basis: 41.66666%;
}

.col-6 {
    flex-basis: 50%;
}

.col-7 {
    flex-basis: 58.3333%;
}

.col-8 {
    flex-basis: 66.6666%;
}

.col-9 {
    flex-basis: 75%;
}

.col-10 {
    flex-basis: 83.3333%;
}

.col-11 {
    flex-basis: 91.6666%;
}

.col-12 {
    flex-basis: 100%;
}

.card, .card_mobile_app {
    margin-bottom: 20px;
    /*text-align: center;*/
}

.restimage {
    width: 308px;
    height: 256px;
    background: #D8D8D8;
    margin: 0 auto 0 auto;
}

.resttitle {
    font-size: 16px;
    line-height: 24px;
}

.foodtype {
    font-size: 14px;
    line-height: 21px;
}

.deliverytime {
    font-size: 13px;
    line-height: 21px;
}

footer {
    margin-top: 80px;
    background: #262626;
    color: #FFFFFF;
}

.footer_logo {
    margin-top: 56px;
    margin-bottom: 40px;
}

.lang-select {
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 227px;
    border-radius: 2px;
    border-radius: 2px;
    height: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px;
    color: #FFFFFF;
    justify-content: flex-start;
    align-items: center;
    background: #3b3b3b url(../images/if_icon-ios7-arrow-back_211686.svg) no-repeat center right 8px;
    padding-left: 16px;
}

.lang-select p{
    line-height: 15px;
    background: #3B3B3B;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 8px;
    border-radius: 2px;

}

.hashtag {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #FFFFFF;
}

.hashtag::before {
    content: "#";
    /* добавляемый текст */
    color: green;
}

.btn_up {
    position: fixed;
    width: 80px;
    height: 80px;
    right: 16px;
    bottom: 24px;
    background: #59BD5A;
    background-image: url(../images/Shape.svg);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    border-radius: 2px;
}

.footer_links {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    font-size: 13px;
    margin-top: 23px;
}

.footer_links2 {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 13px;
    font-size: 11px;
    margin-top: 19px;
    margin-bottom: 40px;
}

.card_mobile_app {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.google_play,.app_store {
    padding-left: 20px;
    padding-right: 20px;
}